.search{
    position: absolute;
    top: 150px;
    left: 25%;
    width: 100vw;

}
.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    height: 30px;
    top: 420px;
    left: 0;

}
.search > button {
    background-color: aqua
}

